.appeal-cardWrapper {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
  position: relative;
  cursor: pointer;
  width: 20rem;
  margin: 25px;
  height: fit-content;
  animation: appeal-card-animate 0.3s linear;
}

@keyframes appeal-card-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.appeal-cardWrapper::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
  box-shadow: 0 0.5rem 1rem -0.25em rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
}

.appeal-cardWrapper:hover {
  transform: translateY(-0.35em) scale(1.02) !important;
}

.appeal-cardWrapper:hover::after {
  opacity: 1;
}

.appeal-cardImg {
  height: 100px;
}

.appeal-cardWrapper:hover .appeal-cardImg {
  height: 50px;
}

.appeal-cardWrapper:hover .appeal-cardOnHover {
  display: block;
}

.appeal-cardOnHover {
  display: none;
}
