.navbar-covidman {
  padding: 10px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar-covidman__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website-logo {
  object-fit: contain;
  width: 120px;
  padding: 10px 0;
  cursor: pointer;
}

.navbar-offcanvas {
  width: 250px;
}

.navbar-liWrapper {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  justify-content: space-between;
}

.signout-link {
  background-color: transparent;
  border: none;
}

.orgRep-navbar-links {
  width: fit-content;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .navbar-covidman {
    padding: 0 20px 0 0;
    display: block;
  }

  .navbar-covidman__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .website-logo {
    margin-left: 35px;
  }

  .navbar-links {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .navbar-liWrapper {
    width: 400px;
  }
  .website-logoLink {
    margin-left: 35px;
  }

  .signout-link {
    margin-left: 400px !important;
  }
}

@media screen and (min-width: 992px) {
  .signout-link {
    margin-left: 600px !important;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-liWrapper {
    margin-left: 300px;
  }

  .signout-link {
    margin-left: 800px !important;
  }
}

@media screen and (min-width: 1400px) {
  .signout-link {
    margin-left: 1000px !important;
  }
}

.navbar-li {
  list-style: none;
}

.navbar-links {
  display: block;
  text-decoration: none;
  color: #43c9ff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin: 10px auto;
}

.navbar-links:hover {
  background-color: #43c9ff;
  color: white;
}
