.record-aidDisHeadBodyWrapper {
  padding-top: 30px;
  font-size: smaller;
}

.record-aidDisbursementHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 120px;
}

.record-outcome-btn {
  width: fit-content;
  margin: 0 auto;
}

.record-aidDisbursementDateWrapper {
  flex-direction: column;
  margin-left: 0;
}

.record-aidDisbursementValueWrapper {
  flex-direction: column;
  margin-left: 0;
}

.record-aidDisbursementDate {
  padding: 7px 0;
}

.record-aidDisbursementValue {
  padding: 7px 0;
}

.record-aidDisbursementBody {
  white-space: nowrap;
  height: 385px;
  overflow-x: scroll;
  overflow-y: hidden;
}

@media screen and (min-width: 576px) {
  .record-aidDisbursementHeader {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .record-aidDisbursementGrid {
    padding: 0;
    margin: 0;
  }

  .record-aidDisHeadBodyWrapper {
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 100px;
  }

  .record-aidDisbursementHeader {
    text-align: unset;
  }

  .record-aidDisbursementBody {
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .record-aidDisbursementDateWrapper {
    flex-direction: row;
  }

  .record-aidDisbursementValueWrapper {
    flex-direction: row;
  }
}

#record-aidDisModalTitle {
  margin: 0 auto;
}

.aid-disbursed-toast {
  position: fixed;
  top: 0%;
  right: 0;
  width: 150px;
  background-color: #43c9ff;
  color: white;
  transform: translateY(200%);
}

.aid-disbursed-toast__body {
  position: relative;
}

.aid-disbursed-toast__close-btn {
  position: absolute;
  right: 8%;
}
