.register-aidApplicant {
  width: 100%;
  height: 100vh;
  background-image: url("../img/ladyHelping.jpg");
  background-size: cover;
  background-position: left center;
  display: flex;
  align-items: center;
}
