.register-appFormWrapper {
  background-color: white;
  width: 350px;
  border-radius: 15px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 0 auto;
}

.register-appFormWrapper > h4 {
  margin: 15px 0;
}

.register-appFormWrapper > h5 {
  margin: 15px 0;
}

.forms {
  width: 90%;
}

.form1 {
  display: none;
}

.form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-btnWrapper {
  width: 90%;
}

.pagination-btn {
  margin: 0;
}

#prev-btn {
  display: none;
  float: left;
}

#next-btn {
  float: right;
}
