.register-appFormWrapper {
  background-color: white;
  width: 350px;
  border-radius: 15px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.register-appFormWrapper > h4 {
  margin: 15px 0;
}

.register-appFormWrapper > h5 {
  margin: 15px 0;
}

@media screen and (min-width: 1200px) {
  .register-appFormWrapper {
    margin: 0;
    left: 67.5%;
  }
}

.forms {
  width: 90%;
}

.form2 {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.register-btn {
  position: absolute;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  cursor: default;
  transition: opacity 0.3s ease-in-out;
}

.register-btn.register-btnFadeIn {
  opacity: 1;
}
