.view-appealsHeader {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .view-appealsHeader {
    padding: 40px;
  }
}

.past-presentWrapper {
  float: right;
  width: 200px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
}

.past-present {
  text-decoration: none;
  color: #43c9ff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.past-presentActive {
  background-color: #43c9ff;
  color: white;
}

.past-present:hover {
  background-color: #43c9ff;
  color: white;
}

.view-appealsBody {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .view-appealsBody {
    flex-direction: row;
    align-items: unset;
    flex-wrap: wrap;
  }
}
